<a href="{{ path('podcast_episode', {episode: episode.id}) }}" class="list-group-item text-dark">
  <div class="d-flex justify-content-between">
    <strong>{{ episode.title }}</strong>
    <span>{{ episode.publishedAt|date('F d, Y') }}</span>
  </div>
</a>
